@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#7A1CAC; /* #9B24DB */
    --second-color:#2E073F; /*#4E126E, #281c2d */
    --light-color:#AD49E1; /* #CD91ED */
    --light-white:#EBD3F8;
    --black-color:#000000;
    --white-color:#ffffff;

}
body{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
 font-size: 16px;
 line-height: 1.5;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
}
li{
    list-style-type: none;
}
h1{
    font-size: 2rem;
    margin-bottom: 0.75rem;
}
h2{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

}
p{
    font-size: 1.2rem;
    margin-bottom: 1rem;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
}
.header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--second-color);
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.nav-list a{
    color: var(--light-white);
    font-size: 18px;
}
/* menu responsiveness */
.menu-icon{
    font-size: 24px;
    cursor: pointer;
    display: none;
}
#menu{
    display: none;
}

/* hero-section */
.hero-section{
    max-width: 1200px;
    display: grid;
    grid-template-columns:1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.hero-section img{
    width: 100%;
    border-radius: 30% 40% 50% 50%;
    /* border-radius:30% 34% 30% 36%; */

}
.webdev{
    margin: 2rem;
}
.avbtn{
    width: 120px;
    padding: 10px;
    margin: 8px;
    border-radius: 14px;
    background-color:#2e073f22;
    color: var(--white-color);
    font-size:1.1rem;
    border: 0.2px solid #EBD3F8;
    cursor: pointer;
    
}
/* hero-section end */
.heading{
    font-size: 2rem;
    margin-bottom: 0.175rem;
    color: var(--black-color);
}
.sub-heading{
    color: var(--light-color);
}


/* resonsive css */
@media(max-width:768px){
    .nav-list{
        display: none;
        flex-direction: column;
        position: absolute;
        align-items: center;        
        top: 65px;
        left: 0;
        width: 100%;
        background-color: var(--second-color);
        color: var(--light-white);
    }
    
    .menu-icon{
        display: block;
        color: var(--white-color);
    }
    /* *show menu when checkbox is clicked */

    #menu:checked + .menu-icon + .navbar ul{
        display: flex;
    }
    nav ul li{
        text-align: center;
        padding: 10px;
    }
    .avbtn{
        display: none;
    }
    .logo img{
        height: 60px;
    }

    /* responsive hero section */
.hero-section{
    grid-template-columns: 1fr;
}

    /* responsive hero section end */
}
